#content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

img {
    border-radius: 10%;
}

table {
    border: 3;
    height: 50;
    width: 50;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 3px solid black;
    text-align: center;
    padding: 8px;
}

tr {
    background-color: brown;
}

tr:nth-child(even) {
    background-color: olivedrab;
}